body {
    background: rgb(28, 26, 71);
    background: radial-gradient(circle, rgba(80, 36, 116, 0.425) 0%, rgb(88, 86, 206) 100%, rgb(175, 69, 236) 100%);
}

.Weathercard {
    width: 80%;
    background: #0000002b;
    border-radius: 5px;
    padding: 50px;
    left: 45px;
    top: 75px; 

}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
 }